In [1]:
#!pip install pandas 판다스는 기본으로 깔려있다.

In [2]:
from pandas import Series # 판다스 안에 있는 시리즈 객체 가져옴

In [3]:
fruit=Series([2500,3800,1200,6000],index=['apple', 'banana', 'peer', 'cherry' ])

In [4]:
fruit #원래는 프린트구문을 사용해서 출력해야하지만 쥬피터노트북에선 그냥해도 출력이 가능하다(하나만 출력이 가능함)

apple     2500
banana    3800
peer      1200
cherry    6000
dtype: int64

In [5]:
#값과 인덱스를 추출 (print구문을 사용하면 두개출력 가능)
print(fruit.values)
print(fruit.index)

[2500 3800 1200 6000]
Index(['apple', 'banana', 'peer', 'cherry'], dtype='object')

In [6]:
#dict 표현
fruitData = {'apple':2500, 'banana':3800, 'peer':1200, 'cherry':600}
fruit = Series(fruitData)

In [7]:
print(type(fruitData))
print(type(fruit))             #>>>>니네 타입이 뭐냐 > 타입에 따라 명령이 달라짐

<class 'dict'>
<class 'pandas.core.series.Series'>

In [8]:
fruit

apple     2500
banana    3800
peer      1200
cherry     600
dtype: int64

In [9]:
#Series 객체의 이름과 컬럼명을 설정을 해 봅니다.

fruit.name = 'fruitPrice'
#칼럼명 지정
fruit.index.name = 'fruitName'

In [10]:
fruit

fruitName
apple     2500
banana    3800
peer      1200
cherry     600
Name: fruitPrice, dtype: int64

In [11]:
#Data Frame> 데이터 프레임 객체 만들기

fruitData = {'fruitName':['apple','banana','cherry','peer'],
             'fruitPrice':[2500,3800,6000,1200],
             'num':[10,5,3,8]
             }

In [12]:
from pandas import DataFrame
fruitFrame = DataFrame(fruitData)

In [13]:
fruitFrame

  fruitName  fruitPrice  num
0     apple        2500   10
1    banana        3800    5
2    cherry        6000    3
3      peer        1200    8

In [14]:
#컬럼 순서 지정하기
fruitFrame = DataFrame(fruitData,columns=[ 'fruitPrice','num','fruitName'])
fruitFrame

   fruitPrice  num fruitName
0        2500   10     apple
1        3800    5    banana
2        6000    3    cherry
3        1200    8      peer

In [15]:
#특정 항목 추출하기! (가격만 뽑고 싶다, 이름만 뽑고 싶다..등등)
fruitFrame['fruitName']

0     apple
1    banana
2    cherry
3      peer
Name: fruitName, dtype: object

In [16]:
fruitFrame.fruitName # 이렇게 해도 똑같이나옴 단지 접근방식이 다를뿐이다

0     apple
1    banana
2    cherry
3      peer
Name: fruitName, dtype: object

In [17]:
# 새로운 컬럼 추가하기
fruitFrame['year'] = '2022'

In [18]:
fruitFrame

   fruitPrice  num fruitName  year
0        2500   10     apple  2022
1        3800    5    banana  2022
2        6000    3    cherry  2022
3        1200    8      peer  2022

In [19]:
#series 객체 추가하기

variable = Series([4,2,1], index=[0,2,3])

fruitFrame['Stock'] = variable
fruitFrame

   fruitPrice  num fruitName  year  Stock
0        2500   10     apple  2022    4.0
1        3800    5    banana  2022    NaN
2        6000    3    cherry  2022    2.0
3        1200    8      peer  2022    1.0

In [20]:
# 자료구조를 다뤄보기
# 데이터 구조의 항목을 삭제

fruit

fruitName
apple     2500
banana    3800
peer      1200
cherry     600
Name: fruitPrice, dtype: int64

In [21]:
#바나나 삭제

In [22]:
fruit.drop('banana') # drop을 사용하면 삭제한다는 뜻이 아니라 원본은 그대로 있고 없어진 모습을 보여줌

fruit  #원본을 보여주는 것

fruitName
apple     2500
banana    3800
peer      1200
cherry     600
Name: fruitPrice, dtype: int64

In [23]:
newFruit = fruit.drop('banana')
newFruit

#fruit = fruit.drop('banana')  실제로 삭제된것

fruitName
apple     2500
peer      1200
cherry     600
Name: fruitPrice, dtype: int64

In [24]:
#인덱스를 특정한 키워드로

In [25]:
fruitData

{'fruitName': ['apple', 'banana', 'cherry', 'peer'],
 'fruitPrice': [2500, 3800, 6000, 1200],
 'num': [10, 5, 3, 8]}

In [26]:
#과일이름을 인덱스로 사용하기

In [27]:
fruitName = fruitData['fruitName']
fruitName

['apple', 'banana', 'cherry', 'peer']

In [28]:
fruitFrame = DataFrame(fruitData, index=fruitName, columns=['fruitPrice','num'])
fruitFrame

        fruitPrice  num
apple         2500   10
banana        3800    5
cherry        6000    3
peer          1200    8

In [29]:
fruitFrame.drop(['apple','cherry'])

        fruitPrice  num
banana        3800    5
peer          1200    8

In [30]:
newFruitFrame = fruitFrame.drop(['num'],axis=1)
newFruitFrame

        fruitPrice
apple         2500
banana        3800
cherry        6000
peer          1200

In [31]:
# 판다스 슬라이스 를 사용하는 방범
fruit

fruitName
apple     2500
banana    3800
peer      1200
cherry     600
Name: fruitPrice, dtype: int64

In [32]:
fruit[:] #전체를 호출하는 방범

fruitName
apple     2500
banana    3800
peer      1200
cherry     600
Name: fruitPrice, dtype: int64

In [33]:
fruit['apple':'banana'] # 애플에서 시작해서 바나나로 끝난다

fruitName
apple     2500
banana    3800
Name: fruitPrice, dtype: int64

In [34]:
fruit['apple':'peer']

fruitName
apple     2500
banana    3800
peer      1200
Name: fruitPrice, dtype: int64

In [35]:
# series 객체의 기본 연산

fruit1 =Series([5,9,10,3],index = ['apple','banana','cherry','peer'])
fruit2 =Series([3,2,9,5,10],index=['apple','orange','banan','cherry','mango'])

In [36]:
newFruit =fruit1+fruit2
newFruit

apple      8.0
banan      NaN
banana     NaN
cherry    15.0
mango      NaN
orange     NaN
peer       NaN
dtype: float64

In [37]:
#데이터 프레임 객체의 기본연산
fruitData1 = {'Ohio':[4,8,3,5],'Texas':[0,1,2,3]}
fruitData2 = {'Ohio':[3,0,2,1,7], 'colorado':[5,4,3,6,0]}
fruitFrame1 = DataFrame(fruitData1, columns=['Ohio','Texas'],
                        index=['apple','banana','cherry','peer'])
fruitFrame2 = DataFrame(fruitData2, columns=['Ohio','Colorado'],
                         index=['apple','ornage','banana','cherry','mango'])

In [38]:
fruitFrame1

        Ohio  Texas
apple      4      0
banana     8      1
cherry     3      2
peer       5      3

In [39]:
fruitFrame2

        Ohio Colorado
apple      3      NaN
ornage     0      NaN
banana     2      NaN
cherry     1      NaN
mango      7      NaN

In [40]:
newFruitFrame = fruitFrame1+ fruitFrame2
newFruitFrame 
#겹치는 것 끼리만 계산

        Colorado  Ohio  Texas
apple        NaN   7.0    NaN
banana       NaN  10.0    NaN
cherry       NaN   4.0    NaN
mango        NaN   NaN    NaN
ornage       NaN   NaN    NaN
peer         NaN   NaN    NaN

In [41]:
#데이터의 정렬
#시리즈 객체의 정렬
fruit

fruitName
apple     2500
banana    3800
peer      1200
cherry     600
Name: fruitPrice, dtype: int64

In [42]:
fruit.sort_values() 
# 정렬을 sort라고한다 여기선 값으로 정렬
#fruit,sort_values(ascending=True)

fruitName
cherry     600
peer      1200
apple     2500
banana    3800
Name: fruitPrice, dtype: int64

In [43]:
fruit.sort_values(ascending=False)

fruitName
banana    3800
apple     2500
peer      1200
cherry     600
Name: fruitPrice, dtype: int64

In [44]:
fruitName = fruitData['fruitName']

In [45]:
fruitFrame = DataFrame(fruitData, index=fruitName,columns=['num','fruitPrice'])
fruitFrame

        num  fruitPrice
apple    10        2500
banana    5        3800
cherry    3        6000
peer      8        1200

In [46]:
fruitFrame.sort_index(ascending=False)

        num  fruitPrice
peer      8        1200
cherry    3        6000
banana    5        3800
apple    10        2500

In [47]:
fruitFrame.sort_index(axis=1) #정렬이 되서 나옴

        fruitPrice  num
apple         2500   10
banana        3800    5
cherry        6000    3
peer          1200    8

In [48]:
fruitFrame.sort_values(by=['fruitPrice','num'])

        num  fruitPrice
peer      8        1200
apple    10        2500
banana    5        3800
cherry    3        6000

In [49]:
#기초분석을 판다스로 사용
import pandas as pd # 판다스 불러올께 근데 이름 너무 길어서 pd로 할께

In [50]:
german = pd.read_csv('http://freakonometrics.free.fr/german_credit.csv')

In [51]:
type(german)

pandas.core.frame.DataFrame

In [52]:
german.columns.values

array(['Creditability', 'Account Balance', 'Duration of Credit (month)',
       'Payment Status of Previous Credit', 'Purpose', 'Credit Amount',
       'Value Savings/Stocks', 'Length of current employment',
       'Instalment per cent', 'Sex & Marital Status', 'Guarantors',
       'Duration in Current address', 'Most valuable available asset',
       'Age (years)', 'Concurrent Credits', 'Type of apartment',
       'No of Credits at this Bank', 'Occupation', 'No of dependents',
       'Telephone', 'Foreign Worker'], dtype=object)

In [53]:
german_sample = german[['Creditability','Duration of Credit (month)','Purpose','Credit Amount']]

In [54]:
german_sample

     Creditability  Duration of Credit (month)  Purpose  Credit Amount
0                1                          18        2           1049
1                1                           9        0           2799
2                1                          12        9            841
3                1                          12        0           2122
4                1                          12        0           2171
..             ...                         ...      ...            ...
995              0                          24        3           1987
996              0                          24        0           2303
997              0                          21        0          12680
998              0                          12        3           6468
999              0                          30        2           6350

[1000 rows x 4 columns]

In [55]:
german_sample.min()

Creditability                   0
Duration of Credit (month)      4
Purpose                         0
Credit Amount                 250
dtype: int64

In [56]:
german_sample.max()

Creditability                     1
Duration of Credit (month)       72
Purpose                          10
Credit Amount                 18424
dtype: int64

In [57]:
german_sample.mean()

Creditability                    0.700
Duration of Credit (month)      20.903
Purpose                          2.828
Credit Amount                 3271.248
dtype: float64

In [58]:
german_sample.head() #head()T쓰면 앞부분의 데이터 5개를 맛보기로 보여줌

   Creditability  Duration of Credit (month)  Purpose  Credit Amount
0              1                          18        2           1049
1              1                           9        0           2799
2              1                          12        9            841
3              1                          12        0           2122
4              1                          12        0           2171

In [59]:
german_sample.corr()#판다스 상관계수분석

,Creditability,Duration of Credit (month),Purpose,Credit Amount
Creditability,1.000000,-0.214927,-0.017979,-0.154740
Duration of Credit (month),-0.214927,1.000000,0.147492,0.624988
Purpose,-0.017979,0.147492,1.000000,0.068480
Credit Amount,-0.154740,0.624988,0.068480,1.000000

In [60]:
#Group By를 이용한 계산 및 요약 통계
german_sample = german[['Credit Amount', 'Type of apartment']]
german_sample

     Credit Amount  Type of apartment
0             1049                  1
1             2799                  1
2              841                  1
3             2122                  1
4             2171                  2
..             ...                ...
995           1987                  1
996           2303                  2
997          12680                  3
998           6468                  2
999           6350                  2

[1000 rows x 2 columns]

In [61]:
german_grouped = german_sample['Credit Amount'].groupby(german_sample['Type of apartment'])

In [62]:
german_grouped.mean()

Type of apartment
1    3122.553073
2    3067.257703
3    4881.205607
Name: Credit Amount, dtype: float64

In [63]:
german_grouped.max()

Type of apartment
1    15945
2    18424
3    14782
Name: Credit Amount, dtype: int64

In [64]:
german_sample = german[['Type of apartment','Sex & Marital Status','Credit Amount']]

In [65]:
for type,group in german_sample.groupby('Type of apartment'):
  print(type)
  print(group.head())

1
   Type of apartment  Sex & Marital Status  Credit Amount
0                  1                     2           1049
1                  1                     3           2799
2                  1                     2            841
3                  1                     3           2122
5                  1                     3           2241
2
    Type of apartment  Sex & Marital Status  Credit Amount
4                   2                     3           2171
6                   2                     3           3398
7                   2                     3           1361
8                   2                     2           1098
12                  2                     2           1957
3
     Type of apartment  Sex & Marital Status  Credit Amount
29                   3                     3           4796
44                   3                     3           1239
69                   3                     3           2032
125                  3                     4           5103
146                  3                     3           2964

In [66]:
for (type, sex), group in german_sample.groupby('Type of apartment','Sex & Maritla Status'):
  print(type,sex)
  print(group.head(n=3))

ValueError: ignored

In [ ]:
#행성데이터 가져오기
import seaborn as sns
planets = sns.load_dataset('planets')

In [ ]:
planets.shape

In [ ]:
planets.head(n=5)

In [ ]:
planets.head

In [ ]:
#null 값을 처리하는 방법
planets.dropna()

In [ ]:
births = pd.read_csv('https://raw.githubusercontent.com/jakevdp/data-CDCbirths/master/births.csv')

In [ ]:
births.shape

In [ ]:
births.head

In [ ]:
births['year']//10 #나눠주고

In [ ]:
births['year']//10*10 # 년대가 나옴

In [ ]:
births['decade']=births['year'] #decade에 내용을 저장

In [ ]:
births.head()

In [ ]:
births.pivot_table('births',index='decade', columns = 'gender',aggfunc='sum')

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
births.pivot_table('births',index='decade',columns='gender',aggfunc='sum').plot()